<!DOCTYPE html>
<!--
    Comentariu
-->
<html lang="ro">

<head>
    
    <%- include("../fragmente/head.ejs") %>
    <meta name="keywords"
        content="carte, povesti, transport curier, bestseller, manual, dictionare, Romania, biografii, review, carte copii, carte dezvoltare personale">
    <meta name="description"
        content="Magazin de carti. Carti, dictionare, manuale. Carti pentru copii, adolescenti, Carti de dezvoltare personala, Carti bestseller. Livrare la domiciliu">
    <title>Descrierea magazinului</title>
</head>

<body>
    
    <%- include("../fragmente/header.ejs") %>
    
    <main>
        <h1>Despre magazinul nostru</h1>
        <div id="prezentare">
            <h2>Prezentare</h2>
           <p> Magazinul nostru ofera o mare varietate de carti destinate pentru toata familia. De la manuale, culegeri, encicopedii pentru cei mici, la carti de dezvolatare personala pentru cei care vor sa se cunoasca mai bine sau carti romantice pentru tinerele adolsecente magazinul nostru are tot ce iti doresti sa citesti. </p>
           <img class="carte" src="./resurse/imagini/rafturi-carti.jpg" alt="imagine" title="Carti deschise">
           <p>La Magazinul Cartisoara, nu este vorba doar despre vânzarea de cărți; este vorba despre crearea unei comunități de iubitori ai cărților. De la evenimente de lectură și cluburi de carte până la întâlniri cu autori și semnături de cărți, ne străduim să oferim oportunități unice de conectare și explorare pentru toți cei care trec pragul nostru.</p>
        </div>
        <div id="istoric">
            <h2>Istoric</h2>
            <p>Magazinul a fost deschis in 2024. Atunci cand am avut suficienti bani sa-l deschidem. </p>
        </div>
        <div id="motivatie">
            <h2>Motivatie</h2>
            <p> Magzinul Cartisoara a fost construit din ideea de a creea nu doar un magzin de carti, ci si o comunitate pentru iubitorii de carte.</p>
        </div>
        
    </main>
    <%- include("../fragmente/footer.ejs") %>

</body>

</html>