/*facem vizibil iconul de hamburger meniu*/

#watermark,#banner{
    display:none;
}
#hamburger{
    display:block;
}

#hamburger>img{
    height:var(--inaltime-meniu);
    display: block;
}
/* implicit meniul e ascuns*/
ul.meniu{
    display:none;
    position:absolute;
    width: 0%;
    height: 0%;
    transform-origin: top-left;
    
}

/*aici facem vizibil meniul cand faem click pe hamburger meniu*/
#ch-menu:checked+ul.meniu{
    display: block;
    z-index: 2;
    position: absolute;/* ar trebui absolute*/
    transform-origin: 0 0;
    animation-name: aparitie_meniu_p;
    animation-iteration-count:1;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    background-color: var(--culoare8);
}
#ch-menu:checked+ul.meniu>li>div,#ch-menu:checked+ul.meniu>li>a{
    
    z-index: 2;
    position: relative;
    transform-origin: 50% 50%;
    animation-name: aparitie_meniu_p_btn;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    background-color: var(--culoare8);
}
/*optiunile se intind pe toata latimea containerului*/
nav ul.meniu li{
    width:100%;
}
nav{
    position: relative;
}
/*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/
nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:200;
    transform:scale(1,1) !important;
    opacity: 1 !important;
    background-color: var(--culoare8);
}


#ch-menu:checked+ul.meniu>li ul>*{
    position:relative;
    z-index:200;
}
nav ul.meniu>li:hover>ul{
    
    z-index:200;
    animation:none;
}

nav ul.meniu li:hover {
    box-shadow: inset 0 0 5px var(--culoare4); 
}

nav ul.meniu li ul:hover {
    box-shadow: inset 0 0 5px var(--culoare4); 
}

/* pentru fiecare element din submeniu generam un triunghiulet alb inaintea lui*/
/*nav ul.meniu>li li a:before{
    content:" \25B7\00A0	";
    color:white;

}*/

@keyframes aparitie_meniu_p{
    0%{
        opacity:0;
        width:0%;
        height: 0%;
        transform: scale(0,0);
    } 
	100%{
    	opacity:1;
        width:100%;
        height: 100%;
        transform: scale(1,1);
    }
}

@keyframes aparitie_meniu_p_btn{
    0%{
        transform:scale(0,0);
    } 
	100%{
    	transform:scale(1,1);
    }
}