body{
    --culoare-fundal:#E44EA0;
    --dim-spatiere:50px;
   padding-left: var(--dim-spatiere);
   padding-right: var(--dim-spatiere);
   --culoare-text-selectat: white;
   --culoare10: white;
   --culoare-text: black;
   --culoare-inchisa: pink;
   --culoare-deschisa: blue;
   --culoare1:#4E714E;
   --culoare2:#E4D4DD;
   --culoare3:#73BC71;
   --culoare4:#F0C9DB;
   --culoare5:#C6438B;
   --culoare6:#E44EA0;
   --culoare7:#98456C;
   --culoare8:#D35F95;
   --culoare9:#421E2F;

}


header{
    /*background-color: var(--culoare8);*/
    background: radial-gradient(circle, var(--culoare4), var(--culoare7));
    border-radius: 10px; 
    border:3px solid var(--culoare7);
    padding: 10px;
}

footer {
    background-color: var(--culoare8);
    border: 2px solid var(--culoare7); 
    border-radius: 5px;
    box-shadow: 0 0 10px var(--culoare7); 
    padding:10px
    
}
#grid-pagina {
    /*background-color: var(--culoare4);*/
    border: 2px solid var(--culoare7); 
    border-radius: 10px; 
    box-shadow: 0 0 10px var(--culoare7);
    padding: 10px;
}

#titlu-reducere{
    color: var(--culoare6);
}

#procent{
    color: var(--culoare9);
    font-style: italic;
}

#pret{
    font-weight: bold;
}


::cue{
 background-color: var(--culoare9);
 color:white;
}


main a:visited{
    color: var(--culoare9);
}

footer a, .mail, .telefon, .descarcabil:visited{
    color: var(--culoare4);
}

a[href^="http"]::before {
    content: "⮳";
    font-size: 1.5em; 
}

a[href^="http"]:hover::before {
    color: var(--culoare9); 
}

.taburi-iframe a::before {
    content:  none !important; 
}


main a:active{
    border: 2px solid var(--culoare9);
}

footer a:active{
    border: 2px solid var(--culoare9);
}



.link{
    background-image: radial-gradient( var(--culoare6) 40%, transparent 80%);
    background-size: 0;
    background-position: center;
    transition:all 0.7s linear;
}

.link:hover {
    background-repeat: no-repeat;
    background-size: 100%;
    transition-delay: 0s;
}

.link:not(:hover) {
    background-repeat: no-repeat;
    background-size: 0; 
}

footer a{
    background-image: radial-gradient( var(--culoare9) 40%, transparent 80%);
    background-size: 0;
    background-position: center;
    transition:all 0.7s linear;
}

footer a:hover {
    background-repeat: no-repeat;
    background-size: 100%;
    transition-delay: 0s;
}

footer a:not(:hover) {
    background-repeat: no-repeat;
    background-size: 0; 
}