<footer id="footer">
        <i class="fa-brands fa-google"></i>
        <a  href="https://www.google.co.uk/" target="_blank">Google</a>
        <br>
        <i class="fa-solid fa-download "></i>
        <a class =" descarcabil" href="./resurse/cr.txt" download>descarcabil</a>
        <a href="#" title="Inceputul paginii" id="link-top" data-tooltip="Inceputul paginii"> <div id="sageata">&#8593</div></a> 
        <address>
            
            <i class="fa-solid fa-map-pin "></i>
            Strada Cartilor nr.100, Bucuresti, sectorul 4, Romania
            <br>
            <i class="fa-solid fa-envelope fa-bounce"></i>
            <a class ="mail" href="mailto:magazinulcartilor@gmail.com">Mail magazin</a>
            <br>
            <i class="fa-solid fa-phone fa-bounce"></i>
            <a class ="telefon" href="tel:+4071131199">Telefon</a>
            <br>
            <i class="fa-brands fa-whatsapp fa-bounce"></i>
            <a class ="whats" href="https://wa.me/07456789854">Whatsapp</a>

        </address>
        <p><small>Copyright &copy; <time datetime="2024-03-04">4 octombirie 2024</time> </small></p>
        <p id="banner">Acesta este un proiect scolar</p>
</footer>